{{#> admin/content}}

<div class="border rounded mt-3 p-1 d-flex justify-content-between">
    <a href="/admin/comments" class="btn btn-light">Return</a>
    <div>
        <button class="btn btn-success mx-3" type="button" onClick="postSave('{{comment._id}}')">Save</button>
        <a href="/posts/{{post._id}}" class="btn btn-primary mr-3">View</a>
        <button onClick="deletePost('{{comment._id}}')" class="btn btn-danger btn-sm">Delete</button>
    </div>
</div>

<div class="my-3">

    {{#each commentSchema}}

    {{#if this.main}}
    <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="post-{{@key}}" value="{{this.value}}"
            placeholder="Post title">
    </div>

    {{else}}

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{this.title}}</label>
        <div class="col-sm-10">
            {{#if this.textarea}}
            <textarea id="post-{{@key}}" class="form-control" placeholder="Content">{{this.value}}</textarea>
            {{else}}
            <input type="text" class="form-control" id="post-{{@key}}" value="{{this.value}}" {{this.disabled}}>
            {{/if}}
            <small id="emailHelp" class="form-text text-muted">{{this.comment}}</small>
        </div>
    </div>
    {{/if}}

    {{/each}}

</div>


{{/ admin/content}}


<script>

    function postSave(postId) {

        /*** Generate generic object for attributs to send to the server ***/
        var genericPost = {}

        $('[id^="post-"]').each(function (index, key) {
            var protected = $(this).attr("disabled")
            if (!protected) {
                var key = $(this).attr("id").split("-")[1]
                var value = $(this).val()
                genericPost[key] = value
            }
        })

        console.log(genericPost)

        var comment = {
            title: $('#post-title').val(),
            name: $('#post-name').val(),
            image: $('#post-image').val(),
            content: $('#post-content').val(),
            description: $('#post-description').val(),
            category: $('#post-category').val(),
            format: $('#post-format').val(),
            tags: $('#post-tags').val(),
            status: $('#post-status').val(),
        }

        // console.log(comment)

        $.post(URL + "/API/comments/save", { id: postId, comment: genericPost }, (data, statut) => {
            console.log(data)
            window.location = "/admin/comments/edit/" + postId
        })

    }

    function deletePost(postId) {
        $.post(URL + "/API/comments/delete/", { id: postId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/comments"
        })
    }


</script>

<style>
    table th,
    td {
        padding-bottom: .75rem;
        padding-right: .75rem
    }
</style>