{{#> admin/content}}

<div id="appp" class="my-3">

    <h2 class="m-3">{{properties.title}}</h2>

    <div class="m-1">
        <span><a href="/admin/{{properties.name}}">All</a></span> -
        <span><a href="/admin/{{properties.name}}?status=draft">Draft</a></span> -
        <span><a href="/admin/{{properties.name}}?authorId={{user._id}}">Mine</a></span> -
        <span><a href="/admin/{{properties.name}}?status=trash">Trash</a></span>
    </div>


    <div class="border rounded">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    {{#columns}}
                    <th>{{this}}</th>
                    {{/columns}}
                </tr>
            </thead>
            <tbody>
                {{#each comments as |comment|}}
                <tr>
                    {{#each comment as |commentVal|}}
                    {{#if commentVal.relationship }}
                    <td>
                        <a href="/admin/{{commentVal.ref}}/edit/{{commentVal.link}}"
                            class="btn btn-link">{{commentVal.value}}</a>
                    </td>
                    {{else}}
                    <td>{{commentVal.value}}</td>
                    {{/if}}
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>



    </div>

    <button onClick="createPost('{{properties.name}}')" class="btn btn-light mt-3">Create</button>

</div>


{{/ admin/content}}

<script>

    function createPost(modelName) {
        $.post(URL + "/API/" + modelName + "/create", (data, statut) => {
            console.log(data)
            if (data.post)
                window.location = "/admin/" + modelName + "/edit/" + data.post._id
        })
    }

    function deletePost(postId) {
        $.post(URL + "/API/comments/delete", { id: postId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/posts"
        })
    }

</script>

<style>
</style>