{{#> admin/content}}

<div id="appp" class="my-3">

    <h2 class="m-3">{{properties.title}}</h2>

    <div class="m-1">
        <span><a href="/admin/{{properties.name}}">All</a></span> -
        <span><a href="/admin/{{properties.name}}?status=draft">Draft</a></span> -
        <span><a href="/admin/{{properties.name}}?authorId={{user._id}}">Mine</a></span> -
        <span><a href="/admin/{{properties.name}}?status=trash">Trash</a></span>
    </div>

    <div class="border rounded">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    {{#columns}}
                    <th>{{this}}</th>
                    {{/columns}}
                </tr>
            </thead>
            <tbody>
                {{#each posts as |post|}}
                <tr>
                    {{#each post as |postVal postKey|}}

                    {{#ifeq viewType "delete" }}
                    <td>
                        <button onClick="deletePost('{{postVal.value}}')" class="btn btn-danger btn-sm">x</button>
                    </td>
                    {{/ifeq}}

                    {{#ifeq viewType "string" }}
                    <td><span>{{postVal.value}}</span></td>
                    {{/ifeq}}

                    {{#ifeq viewType "link" }}
                    <td>
                        <a href="/admin/{{postVal.ref}}/edit/{{postVal.link}}"
                            class="btn btn-link">{{postVal.value}}</a>
                    </td>
                    {{/ifeq}}

                    {{#ifeq viewType "relationship" }}
                    <td>
                        <a href="/admin/{{postVal.ref}}/edit/{{postVal.link}}"
                            class="btn btn-link">{{postVal.value}}</a>
                    </td>
                    {{/ifeq}}


                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>



    </div>

    <button onClick="createPost('{{properties.name}}')" class="btn btn-light mt-3">Create</button>

</div>


{{/ admin/content}}

<script>

    function createPost(modelName) {
        $.post(URL + "/API/" + modelName + "/create", (data, statut) => {
            console.log(data)
            if (data.post)
                window.location = "/admin/" + modelName + "/edit/" + data.post._id
        })
    }

    function deletePost(postId) {
        console.log(postId)
        $.post(URL + "/API/{{properties.name}}/delete", { id: postId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{properties.name}}"
        })
    }

</script>

<style>
</style>