{{#> admin/content}}

<div class="border rounded mt-3 p-1 d-flex justify-content-between">
    <a href="/admin/{{properties.name}}" class="btn btn-light">Return</a>
    <div>
        <button class="btn btn-success mx-3" type="button" onClick="postSave('{{post._id.value}}')">Save</button>
        <a href="/{{properties.name}}/{{post._id.value}}" class="btn btn-primary mr-3">View</a>
        <button onClick="deletePost('{{post._id.value}}')" class="btn btn-danger btn-sm">Delete</button>
    </div>
</div>

<div class="my-3">

    {{#each post}}

    {{#ifeq viewType "hidden"}}
    {{!-- display nothing --}}
    {{/ifeq}}

    {{#if main}}
    <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="post-{{@key}}" value="{{value}}"
            placeholder="Post title" {{disabled}}>
    </div>
    {{/if}}


    {{#ifeq viewType "relationship"}}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{title}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="post-{{@key}}" value="{{value}}" {{disabled}}>
            <small id="emailHelp" class="form-text text-muted">{{comment}}</small>
        </div>
    </div>
    {{/ifeq}}

    {{#ifeq viewType "textarea"}}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{title}}</label>
        <div class="col-sm-10">
            <textarea id="post-{{@key}}" class="form-control" placeholder="Content">{{value}}</textarea>
            <small id="emailHelp" class="form-text text-muted">{{comment}}</small>
        </div>
    </div>
    {{/ifeq}}


    {{#ifeq viewType "string" }}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{title}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="post-{{@key}}" value="{{value}}" {{disabled}}>
            <small id="emailHelp" class="form-text text-muted">{{comment}}</small>
        </div>
    </div>
    {{/ifeq}}

    {{/each}}

</div>


{{/ admin/content}}


<script>

    function postSave(postId) {

        console.log("postId " + postId)

        /*** Generate generic object for attributs to send to the server ***/
        var genericPost = {}

        $('[id^="post-"]').each(function (index, key) {
            var protected = $(this).attr("disabled")
            if (!protected) {
                var key = $(this).attr("id").split("-")[1]
                var value = $(this).val()
                genericPost[key] = value
            }
        })

        console.log(genericPost)

        // console.log(comment)

        $.post(URL + "/API/{{ properties.name }}/save", { id: postId, post: genericPost }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{ properties.name }}/edit/" + postId
        })

    }

    function deletePost(postId) {
        $.post(URL + "/API/{{ properties.name }}/delete/", { id: postId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{ properties.name }}"
        })
    }


</script>

<style>
    table th,
    td {
        padding-bottom: .75rem;
        padding-right: .75rem
    }
</style>