{{#> admin/content}}

<div class="border rounded mt-3 p-1 d-flex justify-content-between">
    <a href="/admin/posts" class="btn btn-light">Return</a>
    <div>
        <button class="btn btn-success mx-3" type="button" onClick="postSave('{{post._id}}')">Save</button>
        <a href="/posts/{{post._id}}" class="btn btn-primary mr-3">View</a>
        <button onClick="deletePost('{{_id}}')" class="btn btn-danger btn-sm">Delete</button>
    </div>
</div>

<div class="my-3">

    {{#each commentSchema}}

    {{#if this.main}}
    <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="post-{{@key}}" value="{{this.value}}"
            placeholder="Post title">
    </div>

    {{else}}

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{this.title}}</label>
        <div class="col-sm-10">
            {{#if this.textarea}}
            <textarea id="post-{{@key}}" class="form-control" placeholder="Content">{{this.value}}</textarea>
            {{else}}
            <input type="text" class="form-control" id="post-{{@key}}" value="{{this.value}}" {{this.disabled}}>
            {{/if}}
            <small id="emailHelp" class="form-text text-muted">{{this.comment}}</small>
        </div>
    </div>
    {{/if}}

    {{/each}}

</div>


{{/ admin/content}}


<script>

    function postSave(postId) {

        var post = {
            title: $('#postTitle').val(),
            name: $('#postName').val(),
            image: $('#postImage').val(),
            content: $('#postContent').val(),
            description: $('#postDescription').val(),
            category: $('#postCategory').val(),
            format: $('#postFormat').val(),
            tags: $('#postTags').val(),
            status: $('#postStatus').val(),
        }

        $.post(URL + "/API/posts/save", { id: postId, post: post }, (data, statut) => {
            console.log(data)
            window.location = "/admin/posts/edit/" + postId
        })

    }

    function deletePost(postId) {
        $.post(URL + "/API/posts/delete/", { id: postId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/posts"
        })
    }


</script>

<style>
    table th,
    td {
        padding-bottom: .75rem;
        padding-right: .75rem
    }
</style>