{{#> admin/content}}

<div class="my-3">

    <h2 class="m-3">{{customType.name}}</h2>

    <div class="m-1">
        <span><a href="/admin/{{customType.name}}">All</a></span> -
        <span><a href="/admin/{{customType.name}}?status=draft">Draft</a></span> -
        <span><a href="/admin/{{customType.name}}?authorId={{user._id}}">Mine</a></span> -
        <span><a href="/admin/{{customType.name}}?status=trash">Trash</a></span>
    </div>

    <table class="table">

        <thead>
            <tr>
                <th></th>
                {{#customType.columns}}
                <th>{{this}}</th>
                {{/customType.columns}}
            </tr>
        </thead>

        <tbody>

            {{#posts as |post|}}
            <tr>

                {{!-- Icon for deleting --}}
                <td class="text-muted">
                    <button type="button" class="btn btn-link" onclick="deletePost('{{post._id.value}}')">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>

                {{#each post as |prop|}}

                {{#ifeq properties.type "autokey"}}
                <td>
                    <a href="/admin/{{path}}/edit/{{link}}">{{value}}</a>
                </td>
                {{/ifeq}}

                {{#ifeq properties.type "relationship"}}
                <td>
                    <a href="/admin/{{properties.path}}/edit/{{link}}">{{value}}</a>
                </td>
                {{/ifeq}}

                {{#ifeq properties.type "string"}}
                <td>
                    {{value}}
                </td>
                {{/ifeq}}

                {{/each}}


            </tr>
            {{/posts}}

        </tbody>
    </table>

    <button onClick="createPost('{{customType.name}}')" class="btn btn-light mt-3">Create</button>


</div>


{{/ admin/content}}

<script>

    function createPost() {

        var post = {}

        $.post(URL + "/API/{{customType.name}}/create", { post }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{customType.name}}/edit/" + data.post._id
        })

    }

    function deletePost(postId) {
        $.post(URL + "/API/{{ customType.name }}/delete/", { postId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{ customType.name }}"
        })
    }

</script>