{{#> admin/content}}

<div class="container bg-light py-2">

    <div class="row">

        {{#models}}

        <div class="col-md-4 mb-2">

            <a class="btn btn-outline-Primary" href="/admin/{{name}}" role="button">
                <div class="border rounded" style="width: 18rem;">
                    <h3>{{label}}</h3>

                    <button id="create-post-{{name}}" class="btn btn-light m-1">Create</button>
                </div>
            </a>
        </div>

        {{/models}}
    </div>

</div>

{{/ admin/content}}

<script>

    $('#create-post-{{name}}').click(() => {

        var post = {}

        $.post(URL + "/API/{{name}}/create", { post }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{name}}/edit/" + data.post._id
        })
    })

</script>