{{#> admin/content}}

<div class="border rounded mt-3 p-1 d-flex justify-content-between">
    <a href="/admin/pages" class="btn btn-light">Return</a>
    <div>
        <button class="btn btn-success mx-3" type="button" onClick="pageSave('{{page._id}}')">Save</button>
        <a href="/pages/{{page._id}}" class="btn btn-primary">View</a>
    </div>
</div>

<div class="my-3">

    <!-- Title -->
    <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" id="postTitle" value="{{page.title}}" placeholder="Post title">
    </div>

    <!-- Content -->
    <div class="form-group">
        <label>Content</label>
        <textarea id="postContent" rows="30" class="form-control" placeholder="Content">{{page.content}}</textarea>
    </div>

    <div class="p-3">
        <p class="mb-1 text-muted">Created : {{page.createdAt}}</p>
        <p class="mb-1 text-muted">Updated : {{page.updatedAt}}</p>
    </div>

</div>


{{/ admin/content}}


<script>

    function pageSave(pageId) {

        var page = {
            title: $('#postTitle').val(),
            name: $('#postName').val(),
            content: $('#postContent').val(),
            image: $('#postImage').val(),
            status: $('#postDraft').prop("checked") ? "draft" : "publish",
        }

        $.post(URL + "/API/pages/save", { id: pageId, page: page }, (data, statut) => {
            console.log(data)
            window.location = "/admin/pages/edit/" + pageId
        })

    }


</script>