{{#> admin/content}}

<div id="app" class="my-3">

    <h2 class="m-3">Pages</h2>

    <div class="card">

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date</th>
                    <th scope="col">Comments</th>
                    <th scope="col">statut</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{# pages}}
                <tr>
                    <th scope="row">
                        <a href="/admin/pages/edit/{{_id}}" class="btn btn-link">{{title}}</a>
                    </th>
                    <td><a :href="/admin/user/{{userId}}">{{userId}}</a></td>
                    <td>{{toElapsedTime createdAt}} ago</td>
                    <td>{{comments}}</td>
                    <td>Online</td>
                    <td>
                        <button onClick="deletePage('{{_id}}')" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
                {{/ pages}}
            </tbody>
        </table>

    </div>

    <button onClick="createPage()" class="btn btn-light mt-3">Create</button>

</div>

{{/ admin/content}}

<script>

    function createPage() {

        $.post(URL + "/API/pages/create", {}, (data, statut) => {
            console.log(data)
            window.location = "/admin/pages/edit/" + data.page._id
        })
    }

    function editPage(pageId) {
        window.location = "/admin/pages/edit/" + pageId
    }

    function deletePage(pageId) {
        $.post(URL + "/API/pages/delete", { id: pageId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/pages"
        })
    }

</script>