{{#> admin/content}}


<div class="border rounded mt-3 p-1 d-flex justify-content-between">
    <a href="/admin/{{customType.name}}" class="btn btn-light">Return</a>
    <div>
        <button class="btn btn-success mx-3" type="button" onClick="postSave('{{post._id.value}}')">Save</button>
        <a href="/{{customType.name}}/{{post._id.value}}" class="btn btn-primary mr-3">View</a>
        <button onClick="deletePost('{{post._id.value}}')" class="btn btn-danger btn-sm">Delete</button>
    </div>
</div>

<div class="mt-3">

    {{#each post as |prop|}}

    {{#if properties.main}}
    
    

    {{/if}}

    {{#ifeq properties.type "relationship"}}

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{@key}}</label>
        <div class="col-sm-10">
            <select class="custom-select" id="post-{{@key}}">
                <option value="{{link}}">{{value}}</option>
                {{#options}}
                <option value="{{id}}">{{value}}</option>
                {{/options}}
            </select>
            <small class="form-text text-muted">{{comment}}</small>
        </div>
    </div>

    {{/ifeq}}


    {{#ifeq properties.type "string"}}

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{@key}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="post-{{@key}}" value="{{value}}" {{disabled}}>
            <small class="form-text text-muted">{{comment}}</small>
        </div>
    </div>

    {{/ifeq}}

    {{#ifeq properties.type "autokey"}}

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{@key}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="post-{{@key}}" value="{{value}}" {{disabled}}>
            <small class="form-text text-muted">{{comment}}</small>
        </div>
    </div>

    {{/ifeq}}

    {{#ifeq properties.type "select"}}
    {{> admin/type-select}}
    {{/ifeq}}

    {{#ifeq properties.type "textarea"}}
    {{> admin/type-textarea}}
    {{/ifeq}}

    {{#ifeq properties.type "image"}}
    {{> admin/type-image}}
    {{/ifeq}}

    {{/each}}

</div>

{{/ admin/content}}

<script>

    function postSave(postId) {

        console.log("postId " + postId)

        /*** Generate generic object for attributs to send to the server ***/
        var genericPost = {}

        $('[id^="post-"]').each(function (index, key) {
            // var protected = $(this).attr("disabled") {
            // if (!protected) {
            var key = $(this).attr("id").split("-")[1]
            var value = $(this).val()
            genericPost[key] = value
            // }
        })

        console.log(genericPost)

        $.post(URL + "/API/{{ customType.name }}/save", { postId: postId, post: genericPost }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{ customType.name }}/edit/" + postId
        })

    }

    function deletePost(postId) {
        $.post(URL + "/API/{{ customType.name }}/delete/", { postId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{ customType.name }}"
        })
    }

</script>