{{#> admin/content}}


<div class="border rounded mt-3 p-1 d-flex justify-content-between">
    <a href="/admin/{{model.name}}" class="btn btn-light">Return</a>
    <div>
        <button class="btn btn-success mx-3" type="button" onClick="postSave('{{post._id}}')">Save</button>
        <a href="/{{model.name}}/{{post._id}}" class="btn btn-primary mr-3">View</a>
        <button onClick="deletePost('{{post._id}}')" class="btn btn-danger btn-sm">Delete</button>
    </div>
</div>

<div class="mt-3">

    {{#each post.fields as |field|}}

    {{#if properties.main}}
    {{/if}}

    {{#ifeq properties.type "relationship"}}
    {{> admin/type-relationship}}
    {{/ifeq}}

    {{#ifeq properties.type "string"}}
    {{> admin/type-string}}
    {{/ifeq}}

    {{#ifeq properties.type "select"}}
    {{> admin/type-select}}
    {{/ifeq}}

    {{#ifeq properties.type "textarea"}}
    {{> admin/type-textarea}}
    {{/ifeq}}

    {{#ifeq properties.type "image"}}
    {{> admin/type-image}}
    {{/ifeq}}

    {{/each}}

</div>

{{/ admin/content}}

<script>

    function postSave(postId) {

        console.log("postId " + postId)

        /*** Generate generic object for attributs to send to the server ***/
        var genericPost = {}

        $('[id^="post-"]').each(function (index, key) {
            // var protected = $(this).attr("disabled") {
            // if (!protected) {
            var key = $(this).attr("id").split("-")[1]
            var value = $(this).val()
            genericPost[key] = value
            // }
        })

        console.log(genericPost)

        $.post(URL + "/API/{{ model.name }}/save", { postId: postId, post: genericPost }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{ model.name }}/edit/" + postId
        })

    }

    function deletePost(postId) {
        $.post(URL + "/API/{{ model.name }}/delete/", { postId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{ model.name }}"
        })
    }

</script>