{{#> admin/content}}

<div class="my-3">

    <h2 class="m-3">{{model.label}}</h2>

    <div class="m-1">
        <span><a href="/admin/{{model.name}}">All</a></span> -
        <span><a href="/admin/{{model.name}}?status=draft">Draft</a></span> -
        <span><a href="/admin/{{model.name}}?authorId={{user._id}}">Mine</a></span> -
        <span><a href="/admin/{{model.name}}?status=trash">Trash</a></span>
    </div>

    <table class="table">

        <col width="5%">

        <thead>
            <tr>
                <th></th>
                {{#model.columns}}
                <th>{{labelify this}}</th>
                {{/model.columns}}
            </tr>
        </thead>

        <tbody>

            {{#posts as |post|}}
            <tr>

                {{!-- Icon for deleting --}}
                <td class="text-muted">
                    <button type="button" class="btn btn-link" onclick="deletePost('{{post._id}}')">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>

                {{!-- {{#each post as |prop|}} --}}
                {{#each post.fields as |field|}}

                <td>

                    {{#if properties.autokey}}
                    <a href="/admin/{{path}}/edit/{{link}}">
                        {{#if value}} {{value}} {{else}} - {{/if}}
                    </a>

                    {{else}}

                    {{#ifeq properties.type "relationship"}}
                    <a href="/admin/{{properties.path}}/edit/{{link}}">{{value}}</a>
                    {{/ifeq}}

                    {{#ifeq properties.type "string"}}
                    {{value}}
                    {{/ifeq}}

                    {{#ifeq properties.type "image"}}
                    <img src="/medias/{{value}}" alt="alt" height="42" width="42">
                    {{/ifeq}}

                    {{#ifeq properties.type "select"}}
                    {{labelify value}}
                    {{/ifeq}}

                    {{#ifeq properties.type "textarea"}}
                    {{value}}
                    {{/ifeq}}

                    {{#ifeq properties.type "date"}}
                    {{toDate value}}
                    {{/ifeq}}

                    {{#ifeq properties.type "password"}}
                    -
                    {{/ifeq}}

                    {{/if}}


                </td>

                {{/each}}


            </tr>
            {{/posts}}

        </tbody>
    </table>

    <button onClick="createPost('{{model.name}}')" class="btn btn-light mt-3">Create</button>


</div>


{{/ admin/content}}

<script>

    function createPost() {

        var post = {}

        $.post(URL + "/API/{{model.name}}/create", { post }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{model.name}}/edit/" + data.post._id
        })

    }

    function deletePost(postId) {
        $.post(URL + "/API/{{ model.name }}/delete/", { postId }, (data, statut) => {
            console.log(data)
            window.location = "/admin/{{ model.name }}"
        })
    }

</script>