<header class="">

    <div class="container p-0">
        <img src="/img/banner.jpg" class="banner mb-1" alt="opensourcecms" width="100%" height="200px">

        <div class="title p-5 pl-5">
            <h1 class=""><a href="/" rel="home">{{settings.siteName}}</a></h1>
            <p class="site-description">website of the test</p>
        </div>
    </div>

    <div class="container">

        <nav class="navbar navbar-light bg-light justify-content-around">
            <a class="nav-link rounded" href="/">Home</a>
            <a class="nav-link rounded" href="/posts">Posts</a>

            {{#menus}}

            <div class="dropdown">
                <a class="nav-link rounded" href="{{link}}">{{title}}</a>
                {{#if menuChild}}
                {{!-- <button type="button" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span> --}}
                </button>
                <div class="dropdown-menu">
                    {{#menuChild}}
                    <a class="dropdown-item" href="{{link}}">{{title}}</a>
                    {{/menuChild}}
                </div>
                {{/if}}
            </div>
            {{/menus}}

            <div class="border rounded text-right">

                <!-- if user is login -->
                {{#if user}}

                <a class="btn btn-link" href="/users/account" role="button">{{user.username}}</a>
                <button class="btn btn-link" type="button" onClick="logout()">Log out</button>

                {{#if user.accessAdmin}}
                <a class="btn btn-link" href="/admin" role="button">Admin</a>
                {{/if}}


                {{else}}

                <a class="btn btn-link" href="/login" role="button">Log in</a>
                <a class="btn btn-link" href="/signup" role="button">Sign up</a>

                {{/if}}

            </div>

        </nav>

    </div>


</header>

<script>

    function signup() {
        $.post(URL + "/users/signup", { name: name }, (data, statut) => {
            console.log(data)
        })
    }

    function logout() {
        $.post(URL + "/API/users/logout", { name: name }, (data, statut) => {
            console.log(data)
            window.location = "/"
        })
    }

</script>

<style>

    nav div.dropdown:hover > .dropdown-menu {
        display: block;
    }

    nav a:hover {
        background: lightgray;
    }

    nav a {
        transition: all 0.3s ease;
    }

    img.banner {
        box-shadow: 0px 1px 5px gray
    }

    img {
        object-fit: cover;
    }

    .title {
        position: absolute;
        top: 1%;
        left: 10%;
    }
</style>