{{> header}}

<div class="container py-5">

    <div class="row">

        {{#posts}}
        <div class="col-md-4">

            <a href="/posts/{{_id}}">
                <img src="/medias/{{image}}" alt="Card image cap" class="rounded" width="100%" >
                <div class=" text-center">
                    <h2><a href="/posts/{{_id}}">{{title}}</a></h2>
                    <p class="lead">{{toDate createdAt}}</p>
                </div>
            </a>

        </div>
        {{/posts}}

    </div>

</div>

{{> footer}}

<script>
</script>

<style>
</style>