{{> header}}

<div class="container py-5">

    <!-- for sidebar -->
    <div class="row">

        <div class="col-9">

            {{#posts as |post|}}

            <article class="mb-5 border-bottom">

                <header>

                    <a href="/posts/{{_id}}">
                        <img src="/medias/{{image}}" alt="Card image cap" class="rounded" width="100%">
                    </a>

                    <div class="m-3 ml-5 mb-3">
                        <h2><a href="/posts/{{_id}}">{{title}}</a></h2>
                    </div>

                </header>

                <footer class="pb-3 ml-5">
                    <div class="d-flex justify-content-between">
                        <strong><a href="/author/{{authorId}}" class="text-dark">{{authorUsername}}</a></strong>
                        <small>{{toDate createdAt}}</small>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="/tags/{{tags}}" class="text-muted text-right">{{tags}}</a>
                        <a href="/categories/{{category}}" class="text-muted text-right">{{categories}}</a>
                    </div>
                </footer>

            </article>

            {{/posts}}

        </div>

        <div class="col-md-3">
            {{> sidebar}}
        </div>

    </div>

</div>

{{> footer}}

<script>
</script>

<style>
</style>