<div class="form-group row">
    {{> admin/types/field-label}}
    <div class="col-sm-10">
        <select class="custom-select" id="post-{{@key}}">
            <option value="{{value}}">{{labelify value}}</option>
            {{#properties.options}}
            <option value="{{this}}">{{labelify this}}</option>
            {{/properties.options}}
        </select>
        <small class="form-text text-muted">{{comment}}</small>
    </div>
</div>